@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url(../fonts/web/gilroylight.woff2) format("woff2"),
       url(../fonts/web/gilroylight.woff) format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url(../fonts/web/gilroyextrabold.woff2) format("woff2"),
       url(../fonts/web/gilroyextrabold.woff) format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  src: url(../fonts/web/opensanslight.woff2) format("woff2"),
       url(../fonts/web/opensanslight.woff) format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 700;
  src: url(../fonts/web/opensans.woff2) format("woff2"),
       url(../fonts/web/opensans.woff) format("woff");
}

body {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* общие элементы */

.logo-device:hover svg {
  opacity: 0.6;
}
.logo-device:active svg {
  opacity: 0.3;
}


/* header */

/*
.header__logo-device svg {
  fill: #000000;
}
.header__logo-device:hover svg {
  opacity: 0.6;
}
.header__logo-device:active svg {
  opacity: 0.3;
}
*/


.main-header {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  padding-top: 40px;
}

.main-header__wrapper {
  width: 1160px;

  height: 300px; /* временно! */

  margin: 0 auto;
  padding: 0;

  background-color: #f7e296;

  position: relative;
}

.header__logo-device {
  position: absolute;
  top: -20px;
  left: 60px;

}

.header__logo-device svg {
  fill: #000000;
}

.main-header__top-menu {
  display: flex;
  margin: 0 auto;
  padding: 0;
  padding-top: 42px;
  padding-bottom: 42px;
  width: 1040px;

  justify-content: space-between;
}

.main-header__search {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 36px;
}

.main-header__navigation-wrapper {
  display: flex;
  margin: 0;
  padding: 0;

  width: 500px;

  justify-content: space-between;
}

.main-header__user-navigation,
.main-header__goods-action {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-header__navigation-item {
  display: block;
  margin: 0;
  padding: 0;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;

  text-decoration: none;

  color: #000000;
}

/* добавить иконки и состояния */

.main-header-navigation-item__cart {
  padding-left: 24px;
}

.main-header-navigation-item__compare {
  padding-left: 20px;
  padding-right: 41px;
}

.main-header-navigation-item__user {
  padding-left: 22px;
  padding-right: 44px;
}


.main-navigation__list {
  display: flex;
  margin: 0 auto;
  padding: 0;

  width: 1040px;

  list-style: none;

  justify-content: space-between;

}

.navigation-list__services-links {
  display: flex;
  justify-content: flex-start;

  width: 500px;
}

.main-navigation__header-link {
  display: block;
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  text-decoration: none;

  color: #000000;
}

.main-navigation__header-link--warranty {
  display: block;
  width: 225px;
}

.main-navigation__header-link--delivery {
  display: block;
  width: 160px;
}

.main-navigation__header-link--contacts {
  display: block;
  width: 115px;
}

.main-navigation__popup-list {
  display: flex;
  margin: 0 auto;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 29px;

  flex-wrap: wrap;

  list-style: none;

  justify-content: flex-start;
}

.main-navigation__popup-list li:first-child,
.main-navigation__popup-list li:nth-child(4) {
  width: 235px;
}

.main-navigation__popup-list li:nth-child(2) {
  width: 195px;
}

.main-navigation__popup-list li:nth-child(3) {
  width: 110px;
}
.main-navigation__popup-list li:nth-child(5) {
  width: 300px;
}



.main-navigation-popup__item {
  display: block;
  margin: 0;
  padding: 0;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.15px;

  text-decoration: none;

  color: #000000;
}



/* main */


/* main-sliders */

.main-slider {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.main-slider__slider-list {
  width: 1160px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.main-slider-item {
  display: flex;
  justify-content: space-between;

}

.main-slider-item__img {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 560px;
}

.slider-item__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  padding-bottom: 75px;
  width: 560px;

  position: relative;
}


.main-slider-item__number-header {

  position: absolute;
  top: 0;
  right: 50px;
  z-index: -1;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 700;
  letter-spacing: 1.79px;

  color: orange; /* изменить цвет! */

}

.main-slider-item__header {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 90px;
  padding-bottom: 23px;
  width: 397px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: 0.47px;

  color: #000000;
}

.main-slider-item__header--quadcopter {
  width: 500px;
}

.main-slider-item__text {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 45px;
  width: 485px;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.15px;
  color: #000000;
}

.main-slider-item__button {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;

  width: 220px;
  height: 40px;

  align-items: center;
  justify-content: center;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;

  position: relative;
  z-index: 1;
}

.main-slider-item__button::after {
  content: "";

  width: 220px;
  height: 8px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  position: absolute;
  top: 16px;
  left: 0;

  z-index: -1;
}

.main-slider-item__button:hover::after {
  transition: transform 0.25s ease;
  transform: scaleY(5);
}

.main-slider-item__button:active {
  width: 220px;
  height: 40px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

.main-slider-item-table__value td {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  line-height: 48px;

  letter-spacing: 0.36px;
  text-decoration: none;
}

.main-slider-item-table__value td:first-child {
  width: 160px;
  height: 50px;
}
.main-slider-item-table__value td:nth-child(2) {
  width: 140px;
}
.main-slider-item-table__value td:nth-child(3) {
  width: 160px;
}

.main-slider-item-table__parameter td {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.13px;
  color: #000000;
}


/* services */

.services {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

/* popular products*/

.popular-products {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 85px;
}

.popular-products-list {
  width: 1160px;
  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.popular-products-list__item {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 40px;
}

.popular-products-list__item:first-child {
  margin-left: 0;
}

.popular-products-item__link {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 196px;
  width: 160px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;

  position: relative;
}

.popular-products-item__link::before {
  content: "";

  width: 160px;
  height: 160px;

  position: absolute;
  top: 0;
  left: 0;

  background-color: #f7e296;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.popular-products-item__link--vr::before {
  background-image: url(../img/popular-1.svg);
  background-position: 50% 50%;
}
.popular-products-item__link--monopod::before {
  background-image: url(../img/popular-2.svg);
  background-position: 50% 100%;
}
.popular-products-item__link--action-camera::before {
  background-image: url(../img/popular-3.svg);
  background-position: 50% 50%;
}
.popular-products-item__link--fitness-bracelet::before {
  background-image: url(../img/popular-4.svg);
  background-position: 50% 50%;
}
.popular-products-item__link--smart-watch::before {
  background-image: url(../img/popular-5.svg);
  background-position: 50% 50%;
}
.popular-products-item__link--quadcopter::before {
  background-image: url(../img/popular-6.svg);
  background-position: 50% 50%;
}

.popular-products-item__link:active {
  opacity: 0.3;
}

.popular-products-item__link:hover::before {
  background-color: #f0c52e;
}

.popular-products-item-link__header {
  display: block;
  margin: 0;
  padding: 0;

  width: 160px;
}

.popular-products-item-link__header--narrow-width {
  width: 120px;
}


/* brands list */

.brands {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.brands__list {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  padding-top: 94px;
  padding-bottom: 94px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.brands-list__item {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 40px;

  width: 260px;
  height: 100px;
}

.brands-list__item:first-child {
  margin-left: 0;
}

.brands-list-item__link {
  display: block;
  margin: 0;
  padding: 0;
  width: 260px;
  height: 100px;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.brands-list-item__link--dji {
  background-image: url(../img/brand-logo-dji.jpg);
}

.brands-list-item__link--dji:hover {
  background-image: url(../img/brand-logo-dji-hover.jpg);
}

.brands-list-item__link--spG {
  background-image: url(../img/brand-logo-spG.jpg);
}

.brands-list-item__link--spG:hover {
  background-image: url(../img/brand-logo-spG-hover.jpg);
}

.brands-list-item__link--GoPro {
  background-image: url(../img/brand-logo-GoPro.jpg);
}

.brands-list-item__link--GoPro:hover {
  background-image: url(../img/brand-logo-GoPro-hover.jpg);
}

.brands-list-item__link--vive {
  background-image: url(../img/brand-logo-vive.jpg);
}

.brands-list-item__link--vive:hover {
  background-image: url(../img/brand-logo-vive-hover.jpg);
}


/* about company */

.about-company {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 62px;
}

.about-company__wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0;

  display: flex;
  justify-content: flex-start;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 600px;
  margin: 0;
  padding: 0;
  padding-right: 125px;
}

.about-us__wrapper-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-us__header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.47px;
}

.about-us__site-line {
  display: block;
  width: 80px;
  height: 7px;
  margin: 0;
  padding: 0;
  padding-bottom: 46px;

  font-size: 0;
  line-height: 0;
}

.about-us__header {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 45px;
}

.about-us__content-block-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 66px;

  width: 475px;
}

.about-us__text {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 29px;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.about-us__delivery-list {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 28px;
}

.about-us-delivery-list__item {
  display: block;
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
}

.about-us-delivery-list__item::before {
  content: '\25E6';
  padding-right: 35px;
}

.about-us__btn-more {
  display: flex;
  margin: 0;
  padding: 0;

  width: 260px;
  height: 40px;

  align-items: center;
  justify-content: center;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;

  position: relative;
  z-index: 1;
}

.about-us__btn-more::after {
  content: "";

  width: 260px;
  height: 8px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  position: absolute;
  top: 16px;
  left: 0;

  z-index: -1;
}

.about-us__btn-more:hover::after {
  transition: transform 0.25s ease;
  transform: scaleY(5);
}

.about-us__btn-more:active {
  width: 260px;
  height: 40px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}


.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  margin: 0;
  padding: 0;
}

.contacts__wrapper-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts__site-line {
  display: block;
  width: 80px;
  height: 7px;
  margin: 0;
  padding: 0;
  padding-bottom: 46px;

  font-size: 0;
  line-height: 0;
}

.contacts__header {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 45px;
}

.contacts__header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.47px;
}

.contacts__content-block-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 66px;
  justify-content: space-between;
}

.contacts__text {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 29px;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.contacts__map {
  display: block;
  margin: 0;
  padding: 0;
}

.contacts__btn-write-to-us {
  display: flex;
  margin: 0;
  padding: 0;

  width: 260px;
  height: 40px;

  align-items: center;
  justify-content: center;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;

  position: relative;
  z-index: 1;
}

.contacts__btn-write-to-us::after {
  content: "";

  width: 260px;
  height: 8px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  position: absolute;
  top: 16px;
  left: 0;

  z-index: -1;
}

.contacts__btn-write-to-us:hover::after {
  transition: transform 0.25s ease;
  transform: scaleY(5);
}

.contacts__btn-write-to-us:active {
  width: 260px;
  height: 40px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}




/* footer */


.main-footer {
  width: 1440px;

  height: 179px; /* временно */

  margin: 0 auto;
  padding: 0;
  padding-top: 65px;
  padding-bottom: 79px;

  background-color: #464646; /* заменить цвет 464646  */
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.main-footer__navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.main-footer__navigation-link-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 325px;
  margin: 0;
  padding: 0;
}

.main-footer__user-links,
.main-footer__goods-action {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-footer__navigation-item {
  display: block;
  margin: 0;
  padding: 0;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;

  text-decoration: none;

  color: rgba(255, 255, 255, 0.7);
}

/* добавить иконки и состояния */

.main-footer-navigation-item__cart {
  padding-left: 24px;
}

.main-footer-navigation-item__compare {
  padding-left: 20px;
  padding-right: 41px;
}

.main-footer-navigation-item__user {
  padding-left: 22px;
  padding-right: 44px;
}

.main-footer__logo-device,
.main-footer__logo-htmlacademy {
  font-size: 0;
  line-height: 0;
}

.main-footer__services-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 70px;
  width: 1160px;
}

.main-footer__services-inner-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 1160px;

  position: relative;
}

.main-footer__services {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 0;
  width: 1160px;
}

.main-footer__services p {
  display: block;
  margin: 0;
  padding: 0;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
}

.main-footer-service__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 424px;

  list-style: none;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* добавить события */

.main-footer-services-list__item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;
}

.main-footer__footer-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 1160px;

  align-items: center;

  position: relative;
}
.main-footer__footer-inner-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 1160px;
  justify-content: space-between;
  align-items: center;
}

.main-footer__social-buttons-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 160px;

  list-style: none;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.main-footer__site-line {
  display: block;
  width: 80px;
  height: 7px;
  margin: 0;
  padding: 0;

  font-size: 0;
  line-height: 0;
}

/* добавить события */

.main-footer__social-button {
  display: block;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;

  line-height: 0;

  opacity: 0.3;
}

.main-footer__logo-device svg,
.main-footer__logo-htmlacademy path{
  fill: #ffc600;

}
.main-footer__logo-device:hover svg,
.main-footer__logo-htmlacademy:hover svg {
  opacity: 0.6;
}
.main-footer__logo-device:active svg,
.main-footer__logo-htmlacademy:active svg {
  opacity: 0.3;
}



/* временно скроем попапы */
.feedback,
.map {
  display: none;
}
