@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url(../fonts/web/gilroylight.woff2) format("woff2"),
       url(../fonts/web/gilroylight.woff) format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url(../fonts/web/gilroyextrabold.woff2) format("woff2"),
       url(../fonts/web/gilroyextrabold.woff) format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  src: url(../fonts/web/opensanslight.woff2) format("woff2"),
       url(../fonts/web/opensanslight.woff) format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 700;
  src: url(../fonts/web/opensans.woff2) format("woff2"),
       url(../fonts/web/opensans.woff) format("woff");
}

body {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* общие элементы */

.logo-device:hover svg {
  opacity: 0.6;
}
.logo-device:active svg {
  opacity: 0.3;
}


/* header */

.main-header {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  padding-top: 40px;
}

.main-header__wrapper {
  width: 1160px;

  margin: 0 auto;
  padding: 0;

  background-color: #f7e296;

  position: relative;
}

.main-header__logo-device {
  position: absolute;
  top: -20px;
  left: 60px;

}

.main-header__logo-device svg {
  fill: #000000;
}

.main-header__top-menu {
  display: flex;
  margin: 0 auto;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 1040px;

  justify-content: space-between;
}

.main-header__search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 36px;

  width: 404px;
  height: 50px;

  position: relative;
}

/* здесь будет форма поиска по сайту */

.main-header__search-input {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.15px;

  color: rgba(0, 0, 0, 0.3);
  background-color: #f7e296;
  border: none;

}

.main-header__search-form::before {
  content: "";

  width: 16px;
  height: 16px;

  position: absolute;
  top: 17px;
  left: 4px;

  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
}

.main-header__search-line {
  display: none;

  line-height: 0;

  position: absolute;
  top: 45px;
  left: 0;
}

.main-header__search-button {
  display: none;
  width: 85px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #000000;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.15px;

  color: #000000;
  background-color: #f7e296;
}

.main-header__search-form:hover .main-header__search-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.main-header__search-input:focus {
  color: #000000;
  outline: none;
}

.main-header__search-input:focus ~ .main-header__search-line {
  display: block;
}

.main-header__search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.main-header__search-button:active {
  display: block;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.main-header__search-button:active ~ .main-header__search-line {
  display: block;
}

.main-header__search-input:focus ~ .main-header__search-button {
  display: block;
}
.main-header__search-input:active ~ .main-header__search-button {
  display: block;
}


.main-header__top-navigation-wrapper {
  display: flex;
  margin: 0;
  padding: 0;

  width: 500px;

  justify-content: space-between;
  align-items: center;
}

.main-header__user-navigation,
.main-header__goods-action {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}


.main-header__site-navigation {
  display: block;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 40px; /* соотносить с отступами у поп-ап меню */
}

.main-header__navigation-item {
  display: block;
  margin: 0;
  padding: 0;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;

  text-decoration: none;

  color: #000000;

  position: relative;
}

.main-header__navigation-item--user {
  padding-left: 26px;
  padding-right: 44px;
}

.main-header__navigation-item--user::before {
  content: "";

  width: 13px;
  height: 12px;

  position: absolute;
  top: 10px;
  left: 0px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewBox='0 0 13 12'%3E%3Cpath fill='%23272525' d='M.032 12h12.937c-.163-2.643-2.074-4.837-4.671-5.543a3.47 3.47 0 0 0 1.687-2.972 3.485 3.485 0 0 0-6.97 0c0 1.264.68 2.361 1.688 2.972C2.106 7.163.194 9.357.032 12z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.main-header__navigation-item--user:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-header__navigation-item--user:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header__navigation-item--user:hover::before {
  opacity: 0.6;
}

.main-header__navigation-item--user:active::before {
  opacity: 0.3;
}


.main-header__navigation-item--cart {
  padding-left: 24px;
}

.main-header__navigation-item--cart::before {
  content: "";

  width: 12px;
  height: 12px;

  position: absolute;
  top: 10px;
  left: 2px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath d='M11.864 3.017a.429.429 0 0 0-.327-.154H9.225V4.09c0 .563-.484 1.022-1.08 1.022-.594 0-1.078-.458-1.078-1.022V2.863H4.909V4.09c0 .563-.485 1.022-1.08 1.022-.595 0-1.078-.458-1.078-1.022V2.863H.438a.43.43 0 0 0-.327.154.472.472 0 0 0-.108.358l.776 7.134c.015.806.642 1.455 1.411 1.455h7.595c.77 0 1.396-.649 1.411-1.455l.776-7.134a.476.476 0 0 0-.108-.358z'/%3E%3Cpath d='M3.829 4.499c.239 0 .433-.184.433-.409V1.84c0-.632.672-1.022 1.295-1.022h1.079c.655 0 1.078.401 1.078 1.022v2.25c0 .225.194.409.431.409.239 0 .433-.184.433-.409V1.84C8.577.773 7.761 0 6.636 0H5.557c-1.19 0-2.159.826-2.159 1.84v2.25c0 .225.194.409.431.409z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.main-header__navigation-item--cart:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-header__navigation-item--cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header__navigation-item--cart:hover::before {
  opacity: 0.6;
}

.main-header__navigation-item--cart:active::before {
  opacity: 0.3;
}


.main-header__navigation-item--compare {
  padding-left: 20px;
  padding-right: 41px;
}

.main-header__navigation-item--compare::before {
  content: "";

  width: 10px;
  height: 10px;

  position: absolute;
  top: 12px;
  left: 0px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath d='M8 2h1.984v8H8zM0 3h1.984v7H0zM4 0h2v10H4z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.main-header__navigation-item--compare:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-header__navigation-item--compare:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header__navigation-item--compare::before {
  opacity: 0.6;
}

.main-header__navigation-item--compare:active::before {
  opacity: 0.3;
}



.main-header__site-navigation-list {
  display: flex;
  margin: 0 auto;
  padding: 0;

  width: 1040px;

  list-style: none;

  justify-content: space-between;
}

.main-header__site-navigation-list li:first-child {
  position: relative;
}

.main-header__navigation-services-wrapper {
  display: flex;
  justify-content: flex-start;

  list-style: none;

  width: 500px;
}

.main-header__navigation-header-item {
  display: block;
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  text-decoration: none;

  color: #000000;
}

.main-header__navigation-header-item--catalog {
  position: relative;
}

.main-header__navigation-header-item--catalog::after {
  content: "";

  width: 16px;
  height: 16px;

  position: absolute;
  top: 4px;
  left: 230px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23272525' d='M16 7H9V0H7v7H0v2h7v7h2V9h7z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.main-header__navigation-header-item--warranty {
  display: block;
  width: 225px;
}

.main-header__navigation-header-item--delivery {
  display: block;
  width: 160px;
}

.main-header__navigation-header-item--contacts {
  display: block;
  width: 115px;
}

.main-header__navigation-header-item:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-header__navigation-header-item:active {
  color: rgba(0, 0, 0, 0.3);
}


.main-header__navigation-popup-list-wrapper {
  display: none;
  margin: 0 auto;
  padding: 0;
  padding-left: 60px;
  width: 1100px;

  background-color: #f7e296;

  position: absolute;
  left: -60px;
  z-index: 5;
}

.main-header__navigation-header-item--catalog:hover ~ .main-header__navigation-popup-list-wrapper {
  display: block;
}

.main-header__navigation-popup-list-wrapper:hover.main-header__navigation-popup-list-wrapper{
  display: block;
}


.main-header__navigation-popup-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 35px;
  width: 600px;

  flex-wrap: wrap;
  justify-content: flex-start;

  list-style: none;
}

.main-header__navigation-popup-list li:first-child,
.main-header__navigation-popup-list li:nth-child(4) {
  width: 235px;
}

.main-header__navigation-popup-list li:nth-child(2) {
  width: 195px;
}

.main-header__navigation-popup-list li:nth-child(3) {
  width: 110px;
}
.main-header__navigation-popup-list li:nth-child(5) {
  width: 300px;
}

.main-header__navigation-popup-item {
  display: block;
  margin: 0;
  padding: 0;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.15px;

  text-decoration: none;

  color: #000000;
}

.main-header__navigation-popup-item:hover {
  color: rgba(0, 0, 0, 0.6)
}

.main-header__navigation-popup-item:active {
  color: rgba(0, 0, 0, 0.3)
}


/* main */

/* main-sliders */

.main-slider {
  width: 1440px;
  margin: 0 auto;
  padding: 0;


  position: relative;
}

.main-slider__under-mask {
  position: absolute;
  left: 140px;
  z-index: -1;
  line-height: 0;
}

/* main-slider list, items */

.main-slider__slider-list {
  width: 1160px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.main-slider__item {
  display: flex;
  justify-content: space-between;
}

.main-slider__item-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 560px;
}

.main-slider__item-img--quadcopter {
  padding-top: 50px;
}

.main-slider__item-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  padding-bottom: 75px;
  width: 560px;

  position: relative;
}

.main-slider__item-number-header {
  position: absolute;
  top: 0;
  right: 50px;
  z-index: -1;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 700;
  letter-spacing: 1.79px;

  color: #ffffff;
}

.main-slider__item-header {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 90px;
  padding-bottom: 23px;
  width: 397px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: 0.47px;

  color: #000000;
}

.main-slider__item-header--quadcopter {
  width: 550px;
}

.main-slider__item-text {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 45px;
  width: 485px;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.15px;
  color: #000000;
}

.main-slider__item-button {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;

  width: 220px;
  height: 40px;

  align-items: center;
  justify-content: center;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;

  position: relative;
  z-index: 1;
}

.main-slider__item-button::after {
  content: "";

  width: 220px;
  height: 8px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  position: absolute;
  top: 16px;
  left: 0;

  z-index: -1;
}

.main-slider__item-button:hover::after {
  transition: transform 0.25s ease;
  transform: scaleY(5);
}

.main-slider__item-button:active {
  width: 220px;
  height: 40px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

.main-slider__item-table-value td {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  line-height: 48px;

  letter-spacing: 0.36px;
  text-decoration: none;
}

.main-slider__item-table-value td:first-child {
  width: 160px;
  height: 50px;
}
.main-slider__item-table-value td:nth-child(2) {
  width: 140px;
}
.main-slider__item-table-value td:nth-child(3) {
  width: 160px;
}

.main-slider__item-table-parameter td {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.13px;
  color: #000000;
}

/* main-slider control */

.main-slider__slider-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80px;
  height: 12px;

  position: absolute;
  right: 220px;
  top: 340px;
  z-index: 10;

  font-size: 0;
}

.main-slider__control-item {
  position: relative;

  display: block;
  width: 12px;
  height: 12px;

  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #000000;
}

.main-slider__item-wrapper {
  display: none;
}

#main-slider-monopod:checked ~ .main-slider__slider-list .main-slider__item-wrapper:nth-child(1) {
  display: block;
}
#main-slider-fitness-bracelet:checked ~ .main-slider__slider-list .main-slider__item-wrapper:nth-child(2) {
  display: block;
}
#main-slider-quadcopter:checked ~ .main-slider__slider-list .main-slider__item-wrapper:nth-child(3) {
  display: block;
}

#main-slider-monopod:checked ~ .main-slider__slider-controls .main-slider__control-item--monopod::before,
#main-slider-fitness-bracelet:checked ~ .main-slider__slider-controls .main-slider__control-item--fitness-bracelet::before,
#main-slider-quadcopter:checked ~ .main-slider__slider-controls .main-slider__control-item--quadcopter::before
{
  content: "";

  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;

  width: 4px;
  height: 4px;

  background: #ffffff;

  border-radius: 50%;
  border: 1px solid #000000;
}

/* --- */


/* popular products*/

.popular-products {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 85px;
}

.popular-products__list {
  width: 1160px;
  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.popular-products__item {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 40px;
}

.popular-products__item:first-child {
  margin-left: 0;
}

.popular-products__item-link {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 196px;
  width: 160px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;

  position: relative;
}

.popular-products__item-link::before {
  content: "";

  width: 160px;
  height: 160px;

  position: absolute;
  top: 0;
  left: 0;

  background-color: #f7e296;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.popular-products__item-link--vr::before {
  background-image: url(../img/popular-1.svg);
  background-position: 50% 50%;
}
.popular-products__item-link--monopod::before {
  background-image: url(../img/popular-2.svg);
  background-position: 50% 100%;
}
.popular-products__item-link--action-camera::before {
  background-image: url(../img/popular-3.svg);
  background-position: 50% 50%;
}
.popular-products__item-link--fitness-bracelet::before {
  background-image: url(../img/popular-4.svg);
  background-position: 50% 50%;
}
.popular-products__item-link--smart-watch::before {
  background-image: url(../img/popular-5.svg);
  background-position: 50% 50%;
}
.popular-products__item-link--quadcopter::before {
  background-image: url(../img/popular-6.svg);
  background-position: 50% 50%;
}

.popular-products__item-link:active {
  opacity: 0.3;
}

.popular-products__item-link:hover::before {
  background-color: #f0c52e;
}

.popular-products__item-link-header {
  display: block;
  margin: 0;
  padding: 0;

  width: 160px;
}

.popular-products__item-link-header--narrow-width {
  width: 120px;
}


/* services */

.services {
  width: 1440px;
  margin: 0 auto;
  padding: 0;

  display: flex;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='290'%3E%3Crect width='1440' height='290' fill='%23e5e5e5'/%3E%3C/svg%3E");
  background-position: 0px 100px;
  background-repeat: no-repeat;

  position: relative;
}

/*
.services__slider-control {
  margin: 0;
  padding: 0;
  padding-left: 140px;
  padding-top: 80px;
  padding-bottom: 145px;
  width: 420px;
}
*/

/* services controls */

.service__slider-control-wrapper {
  display: flex;
  margin: 0;
  padding: 0;

  padding-left: 140px;
  padding-top: 80px;
  padding-bottom: 145px;
  width: 420px;

  height: 165px;

  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.services__slider-control-item-wrapper--delivery,
.services__slider-control-item-wrapper--warranty,
.services__slider-control-item-wrapper--credit {
  display: flex;
  margin: 0;
  padding: 0;
  width: 280px;
}

.service__slider-control-item {
  display: flex;
  margin: 0;
  padding: 0;

  width: 160px;
  height: 40px;

  align-items: center;
  justify-content: center;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;

  position: relative;
  z-index: 1;
}

.service__slider-control-item::after {
  content: "";

  width: 160px;
  height: 8px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  position: absolute;
  top: 16px;
  left: 0;

  z-index: -1;
}

.service__slider-control-item:hover::after {
  transition: transform 0.25s ease;
  transform: scaleY(5);
}

.service__slider-control-item:active {
  width: 160px;
  height: 40px;

  background-color: #000000;
  background-repeat: no-repeat;

  color: #f7e184;

  z-index: 1;
}

.service__slider-control-item:active::after {
  content: "";

  width: 160px;
  height: 8px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  position: absolute;
  top: 16px;
  left: 0;

  z-index: -1;
}

#service-slider-delivery:checked ~ .service__slider-control-wrapper .services__slider-control-item-wrapper--delivery {
  width: 280px;
  height: 40px;

  color: #f7e184;

  background-color: #000000;
  background-repeat: no-repeat;

  position: relative;
  z-index: 1;
}
#service-slider-delivery:checked ~ .service__slider-control-wrapper .services__slider-control-item-wrapper--delivery .service__slider-control-item::after {
  content: "";

  width: 160px;
  height: 8px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  position: absolute;
  top: 16px;
  left: 0;

  z-index: -1;
}
#service-slider-delivery:checked ~ .service__slider-control-wrapper .services__slider-control-item-wrapper--delivery .service__slider-control-item--delivery {
  background-color: #000000;
  background-repeat: no-repeat;

  color: #f7e184;

  z-index: 1;
}

#service-slider-warranty:checked ~ .service__slider-control-wrapper .services__slider-control-item-wrapper--warranty {
  width: 280px;
  height: 40px;

  color: #f7e184;

  background-color: #000000;
  background-repeat: no-repeat;

  position: relative;
  z-index: 1;
}
#service-slider-warranty:checked ~ .service__slider-control-wrapper .services__slider-control-item-wrapper--warranty .service__slider-control-item::after {
  content: "";

  width: 160px;
  height: 8px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  position: absolute;
  top: 16px;
  left: 0;

  z-index: -1;
}
#service-slider-warranty:checked ~ .service__slider-control-wrapper .services__slider-control-item-wrapper--warranty .service__slider-control-item--warranty {
  background-color: #000000;
  background-repeat: no-repeat;

  color: #f7e184;

  z-index: 1;
}

#service-slider-credit:checked ~ .service__slider-control-wrapper .services__slider-control-item-wrapper--credit {
  width: 280px;
  height: 40px;

  color: #f7e184;

  background-color: #000000;
  background-repeat: no-repeat;

  position: relative;
  z-index: 1;
}
#service-slider-credit:checked ~ .service__slider-control-wrapper .services__slider-control-item-wrapper--credit .service__slider-control-item::after {
  content: "";

  width: 160px;
  height: 8px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  position: absolute;
  top: 16px;
  left: 0;

  z-index: -1;
}
#service-slider-credit:checked ~ .service__slider-control-wrapper .services__slider-control-item-wrapper--credit .service__slider-control-item--credit {
  background-color: #000000;
  background-repeat: no-repeat;

  color: #f7e184;

  z-index: 1;
}


.services__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 1020px;
}

.services__item-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 75px;
  padding-left: 120px;
  padding-bottom: 150px;

  width: 900px;
}

.services__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  position: relative;
}

.services__item-header {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
  width: 250px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
}

.services__item-text {
  margin: 0;
  padding: 0;
  width: 450px;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.15px;
  color: #464646;
}

.service__item-icon {
  position: absolute;
  top: 10px;
  right: 200px;
}


.services__item-wrapper {
  display: none;
}

#service-slider-delivery:checked ~ .services__list .services__item-wrapper:nth-child(1) {
  display: block;
}
#service-slider-warranty:checked ~ .services__list .services__item-wrapper:nth-child(2) {
  display: block;
}
#service-slider-credit:checked ~ .services__list .services__item-wrapper:nth-child(3) {
  display: block;
}

/* --- */

/* brands list */

.brands {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.brands__list {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  padding-top: 94px;
  padding-bottom: 94px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.brands__item {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 40px;

  width: 260px;
  height: 100px;
}

.brands__item:first-child {
  margin-left: 0;
}

.brands__item-link {
  display: block;
  margin: 0;
  padding: 0;
  width: 260px;
  height: 100px;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.brands__item-link--dji {
  background-image: url(../img/brand-logo-dji.jpg);
}

.brands__item-link--dji:hover {
  background-image: url(../img/brand-logo-dji-hover.jpg);
}

.brands__item-link--spG {
  background-image: url(../img/brand-logo-spG.jpg);
}

.brands__item-link--spG:hover {
  background-image: url(../img/brand-logo-spG-hover.jpg);
}

.brands__item-link--GoPro {
  background-image: url(../img/brand-logo-GoPro.jpg);
}

.brands__item-link--GoPro:hover {
  background-image: url(../img/brand-logo-GoPro-hover.jpg);
}

.brands__item-link--vive {
  background-image: url(../img/brand-logo-vive.jpg);
}

.brands__item-link--vive:hover {
  background-image: url(../img/brand-logo-vive-hover.jpg);
}


/* about company */

.about-company {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 82px;
}

.about-company__wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0;

  display: flex;
  justify-content: flex-start;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 600px;
  margin: 0;
  padding: 0;
  padding-right: 125px;
}

.about-us__wrapper-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-us__header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.47px;
}

.about-us__site-line {
  display: block;
  width: 80px;
  height: 7px;
  margin: 0;
  padding: 0;
  padding-bottom: 46px;

  font-size: 0;
  line-height: 0;
}

.about-us__header {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 45px;
}

.about-us__content-block-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 66px;

  width: 475px;
}

.about-us__text {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 29px;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.about-us__delivery-list {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 28px;
}

.about-us__delivery-item {
  display: block;
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
}

.about-us__delivery-item::before {
  content: '\25E6';
  padding-right: 35px;
}

.about-us__btn-more {
  display: flex;
  margin: 0;
  padding: 0;

  width: 260px;
  height: 40px;

  align-items: center;
  justify-content: center;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;

  position: relative;
  z-index: 1;
}

.about-us__btn-more::after {
  content: "";

  width: 260px;
  height: 8px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  position: absolute;
  top: 16px;
  left: 0;

  z-index: -1;
}

.about-us__btn-more:hover::after {
  transition: transform 0.25s ease;
  transform: scaleY(5);
}

.about-us__btn-more:active {
  width: 260px;
  height: 40px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}


.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  margin: 0;
  padding: 0;
}

.contacts__wrapper-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts__site-line {
  display: block;
  width: 80px;
  height: 7px;
  margin: 0;
  padding: 0;
  padding-bottom: 46px;

  font-size: 0;
  line-height: 0;
}

.contacts__header {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 45px;
}

.contacts__header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.47px;
}

.contacts__content-block-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 66px;
  justify-content: space-between;
}

.contacts__text {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 29px;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.contact__map-link-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  width: 560px;
  height: 222px;

  line-height: 0;

  background-color: #e9e9e9;
}

.contacts__map {
  display: block;
  margin: 0;
  padding: 0;
}

.contacts__btn-write-to-us {
  display: flex;
  margin: 0;
  padding: 0;

  width: 260px;
  height: 40px;

  align-items: center;
  justify-content: center;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;

  position: relative;
  z-index: 1;
}

.contacts__btn-write-to-us::after {
  content: "";

  width: 260px;
  height: 8px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  position: absolute;
  top: 16px;
  left: 0;

  z-index: -1;
}

.contacts__btn-write-to-us:hover::after {
  transition: transform 0.25s ease;
  transform: scaleY(5);
}

.contacts__btn-write-to-us:active {
  width: 260px;
  height: 40px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}




/* footer */


.main-footer {
  width: 1440px;

  height: 179px; /* временно */

  margin: 0 auto;
  padding: 0;
  padding-top: 65px;
  padding-bottom: 79px;

  background-color: #464646; /* заменить цвет 464646  */
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.main-footer__navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.main-footer__navigation-link-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 325px;
  margin: 0;
  padding: 0;
}

.main-footer__user-links,
.main-footer__goods-action {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-footer__navigation-item {
  display: block;
  margin: 0;
  padding: 0;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  font-weight: 400;

  text-decoration: none;

  color: rgba(255, 255, 255, 0.7);
}

/* добавить иконки и состояния */

.main-footer-navigation-item__cart {
  padding-left: 24px;
}

.main-footer-navigation-item__compare {
  padding-left: 20px;
  padding-right: 41px;
}

.main-footer-navigation-item__user {
  padding-left: 22px;
  padding-right: 44px;
}

.main-footer__logo-device,
.main-footer__logo-htmlacademy {
  font-size: 0;
  line-height: 0;
}

.main-footer__services-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 60px;
  width: 1160px;
}

.main-footer__services-inner-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 1160px;

  position: relative;
}

.main-footer__services {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 0;
  width: 1160px;
}

.main-footer__services p {
  display: block;
  margin: 0;
  padding: 0;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
}

.main-footer__service-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 450px;

  list-style: none;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* добавить события */

.main-footer__services-item {
  display: block;
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;
}

.main-footer__footer-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 1160px;

  align-items: center;

  position: relative;
}
.main-footer__footer-inner-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 1160px;
  justify-content: space-between;
  align-items: center;
}

.main-footer__social-buttons-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 160px;

  list-style: none;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.main-footer__site-line {
  display: block;
  width: 80px;
  height: 7px;
  margin: 0;
  padding: 0;

  font-size: 0;
  line-height: 0;
}

/* добавить события */

.main-footer__social-button {
  display: block;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;

  line-height: 0;

  opacity: 0.3;
}

.main-footer__logo-device svg,
.main-footer__logo-htmlacademy path{
  fill: #ffc600;

}
.main-footer__logo-device:hover svg,
.main-footer__logo-htmlacademy:hover svg {
  opacity: 0.6;
}
.main-footer__logo-device:active svg,
.main-footer__logo-htmlacademy:active svg {
  opacity: 0.3;
}


/* modal forms */

@keyframes bounce {
  0%   {transform: translateY(-2000px); }
  70%  {transform: translateY(30px); }
  90%  {transform: translateY(10px); }
  100% {transform: translateY(0); }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.feedback {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  padding: 0;

  /* height: 600px;  временно */

  position: relative;
}

.feedback-form {
  display: none;

  width: 760px;
  margin: 0 auto;
  padding: 100px;

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  position: fixed;

  top: 200px;

  left: 50%;
  transform: translateX(-50%);

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;

  z-index: 1;
}

.feedback-form-show {
  display: flex;

  animation: bounce 0.6s;
}

.feedback-form-error {
  animation: shake 0.6s;
}

.feedback-form__name-mail-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  width: 760px;
  justify-content: space-between;
  align-items: center;
}

.feedback-form__name-mail-wrapper p {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.feedback-form__label {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.feedback-form__input {
  display: block;
  box-sizing: border-box;
  width: 320px;
  height: 50px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;
}

.feedback-form__input::placeholder {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form__input:hover {
  background-color: #eaeaea;
  border: 3px solid #eaeaea;
}

.feedback-form__input:focus {
  color: #464646;
  background-color: #ffffff;
  border: 3px solid #f0c52e;
}

.feedback-form__input--error {
  background-color: #f6dada;
  border: 3px solid #f6dada;
}

.feedback-form__input-text-wrapper {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
}

.feedback-form__input-text {
  margin: 0;
  padding: 20px;
  width: 720px;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(70, 70, 70, 0.4);

  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;

  resize: none;
  outline: none;
}

.feedback-form__input-text:hover {
  background-color: #eaeaea;
  border: 3px solid #eaeaea;
}

.feedback-form__input-text:focus {
  color: #464646;
  background-color: #ffffff;
  border: 3px solid #f0c52e;
}

.feedback-form__submit {
  display: flex;
  margin: 0;
  padding: 0;

  width: 200px;
  height: 40px;

  align-items: center;
  justify-content: center;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;

  background-color: #ffffff;
  border: none;

  position: relative;
  z-index: 1;
}

.feedback-form__submit::after {
  content: "";

  width: 200px;
  height: 8px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  position: absolute;
  top: 16px;
  left: 0;

  z-index: -1;
}

.feedback-form__submit:hover::after {
  transition: transform 0.25s ease;
  transform: scaleY(5);
}

.feedback-form__submit:active {
  width: 200px;
  height: 40px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

.feedback-form__close {
  position: absolute;

  top: 20px;
  right: 25px;

  width: 55px;
  height: 55px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  outline: none;

  opacity: 0.5;
  cursor: pointer;
}

.feedback-form__close:hover {
  opacity: 1.0;
}

.feedback-form__close:active {
  opacity: 0.3;
}


.map {
  display: block;
  width: 1440px;
  margin: 0 auto;
  padding: 0;

  /* height: 560px;  временно */

  position: relative;
}

.map-form {
  display: none;

  width: 960px;
  margin: 0 auto;
  padding: 0;

  line-height: 0;

  position: fixed;
  z-index: 1;

  top: 200px;
  left: 50%;
  transform: translateX(-50%);

  background-color: #e9e9e9;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.map-form-show {
  display: block;
  animation: bounce 0.6s;
}

.map-form__close {
  position: absolute;

  top: 20px;
  right: 25px;

  width: 55px;
  height: 55px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  outline: none;

  opacity: 0.5;
  cursor: pointer;
}

.map-form__close:hover {
  opacity: 1.0;
}

.map-form__close:active {
  opacity: 0.3;
}




/* inner page */

.inner-page-header {
  display: block;
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.inner-page-header__wrapper {
  display: block;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  padding-top: 45px;
}

.inner-page-header__header {
  margin: 0;
  padding: 0;
  padding-left: 60px;

  padding-top: 40;

  padding-bottom: 30px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.47px;

  color: #000000;
}

.inner-page-header__breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-bottom: 50px;

  list-style: none;

}

.inner-page-header__breadcrumbs-item {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 40px;
}

.inner-page-header__breadcrumbs-link {


  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14x;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);

  text-decoration: none;
}

.inner-page-header__breadcrumbs-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.inner-page-header__breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-wrapper {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.search-filter {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  width: 467px;

  background-color: #ebebeb;
}

.search-filter__header-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  height: 70px;

  align-items: center;

  background-color: #d9d9d9;
}

.search-filter__header {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 200px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3.2px;

  text-transform: uppercase;

  color: #000000;
}

.search-filter__form {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 200px;

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.search-filter__head-line-price {
  display: block;
  width: 200px;
  height: 2px;
  margin: 0;
  padding: 0;
  padding-top: 69px;
  padding-bottom: 12px;

  font-size: 0;
  line-height: 0;
}

.search-filter__form-header-price {
  display: block;
  margin: 0;
  padding: 0;

  padding-bottom: 25px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.18px;

  color: #000000;
}

.search-filter__form-price-slider {
  display: block;
  margin: 0;
  padding: 0;
}

.search-filter__form-price-slider-controls {
  display: block;
  width: 200px;
  margin: 10px 0;
  line-height: 0;
  position: relative;
}

.search-filter__form-price-slider-controls-scale {
  width: 200px;
  height: 2px;
  background-color: #dbdbdb;
}

.search-filter__form-price-slider-controls-range-bar {
  width: 110px;
  height: 2px;
  background-color: #91c92f;
}

.search-filter__form-price-slider-controls-toggle {
  width: 20px;
  height: 22px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='23' viewBox='0 0 20 23'%3E%3Cpath fill='%23ABABAB' d='M10 20C4.477 20 0 15.522 0 10v2c0 5.522 4.477 10 10 10 5.522 0 10-4.478 10-10v-2c0 5.522-4.478 10-10 10z' opacity='.3'/%3E%3Ccircle cx='10' cy='10' r='10' fill='%23FFF'/%3E%3Ccircle cx='10' cy='10' r='2' fill='%23ABABAB'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  cursor: pointer;

  position: absolute;
  top: -11px;
  z-index: 1;
}

.search-filter__form-price-slider-controls-toggle--min {
  left: 0px;
}
.search-filter__form-price-slider-controls-toggle--max {
  left: 110px;
}


.search-filter__form-price-slider-price-label {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  justify-content: flex-start;
}

.search-filter__form-price-slider-price-label span {

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.2);
}

.search-filter__form-price-slider-price-label--min {
  padding-right: 65px;
}


.search-filter__head-line-color {
  display: block;
  width: 200px;
  height: 2px;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;

  font-size: 0;
  line-height: 0;
}

.search-filter__form-header-color {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 18px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.18px;

  color: #000000;
}

.search-filter__color-item {
  display: block;
  margin: 0;
  padding: 0;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14x;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.14px;
  color: #000000;
}

.search-filter__color-item {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  position: relative;
}

.search-filter__color-item-input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.search-filter__color-item-input::-ms-check {
  opacity: 0;
}

.search-filter__color-item-box {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 0;
  top: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.search-filter__color-item-input:hover + .search-filter__color-item-box {
  opacity: 0.6;
}

.search-filter__color-item-input:checked + .search-filter__color-item-box {
  position: absolute;
  width: 27px;
  height: 23px;
  left: 0;
  top: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.search-filter__color-item-input:checked:active + .search-filter__color-item-box {
  position: absolute;
  width: 27px;
  height: 23px;
  left: 0;
  top: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  opacity: 1.0;
}

.search-filter__color-item-input:active + .search-filter__color-item-box {
  position: absolute;
  width: 27px;
  height: 23px;
  left: 0;
  top: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  opacity: 1.0;
}


.search-filter__color-item-input:disabled + .search-filter__color-item-box {
  position: absolute;
  width: 27px;
  height: 23px;
  left: 0;
  top: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
  opacity: 0.3;
  background-repeat: no-repeat;
}

.search-filter__color-item-input:checked:disabled + .search-filter__color-item-box {
  position: absolute;
  width: 27px;
  height: 23px;
  left: 0;
  top: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
  opacity: 0.3;
  background-repeat: no-repeat;
}

.search-filter__color-item-last {
  padding-bottom: 30px;
}

.search-filter__head-line-bluetooth {
  display: block;
  width: 200px;
  height: 2px;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;

  font-size: 0;
  line-height: 0;
}

.search-filter__form-header-bluetooth {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 18px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.18px;

  color: #000000;
}

.search-filter__bt-radio {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 40px;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14x;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.14px;
  color: #000000;

  position: relative;
}

.search-filter__bt-radio-input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.search-filter__bt-radio-input::-ms-check {
  opacity: 0;
}

.search-filter__bt-radio-box {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.search-filter__bt-radio-input:checked + .search-filter__bt-radio-box {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.search-filter__bt-radio-input:checked:hover + .search-filter__bt-radio-box {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  opacity: 0.6;
}

.search-filter__bt-radio-input:checked:active + .search-filter__bt-radio-box {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  opacity: 1.0;
}

.search-filter__bt-radio-input:hover + .search-filter__bt-radio-box {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  opacity: 0.6;
}

.search-filter__bt-radio-input:active + .search-filter__bt-radio-box {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  opacity: 1.0;
}

.search-filter__bt-radio-input:disabled + .search-filter__bt-radio-box {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E%0A");
  opacity: 0.3;
  background-repeat: no-repeat;
}

.search-filter__bt-radio-input:checked:disabled + .search-filter__bt-radio-box {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E%0A");
  opacity: 0.3;
  background-repeat: no-repeat;
}

.search-filter__bt-radio-last {
  padding-bottom: 30px;
}

.search-filter__submit-btn {
  display: flex;
  margin: 0;
  padding: 0;

  width: 200px;
  height: 40px;

  align-items: center;
  justify-content: center;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;

  background-color: #ebebeb;
  border: none;

  position: relative;
  z-index: 1;
}

.search-filter__submit-btn::after {
  content: "";

  width: 200px;
  height: 8px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  position: absolute;
  top: 16px;
  left: 0;

  z-index: -1;
}

.search-filter__submit-btn:hover::after {
  transition: transform 0.25s ease;
  transform: scaleY(5);
}

.search-filter__submit-btn:active {
  width: 220px;
  height: 40px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}


.search-result {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  width: 973px;
}

.search-result__header-wrapper {
  display: flex;
  margin: 0;
  padding: 0;

  height: 70px;

  justify-content: space-between;
  align-items: center;

  background-color: #ebebeb;
}

.search-result__header {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 75px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3.2px;

  text-transform: uppercase;

  color: #000000;
}

.search-result__sort-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  padding-right: 140px;
  width: 560px;
  justify-content: space-between;
  align-items: center;
}

.search-result__sort-type-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;


  list-style: none;
}

.search-result__sort-type-item {
  display: block;
  margin: 0;
  padding: 0;
  padding-right: 30px;
}

.search-result__sort-type-link {

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14x;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);

  text-decoration: none;
}

.search-result__sort-type-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search-result__sort-type-link:active {
  color: #000000;
}

.search-result__sort-type-link--current {
  color: #000000;
}

.search-result__up-down-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.search-result__up-down-item {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

/* добавить состояния */


.search-result__goods-list-wrapper {
  display: block;
  margin-top: 70px;
  margin-left: 75px;

  width: 760px;
}

.search-result__goods-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.search-result__goods-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 360px;
  height: 505px;
}

.search-result__goods-item:nth-child(2n+1) {
  margin-left: 0;
  margin-right: 40px;
}

.search-result__goods-item:nth-child(2n) {
  margin: 0;
  padding: 0;
}


.search-result__goos-cart-text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin: 0;
  padding: 0;
  padding-top: 30px;
}

.search-result__googs-card-header {
  display: flex;
  margin: 0;
  padding: 0;
  width: 250px;
}

.search-result__googs-card-header-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.18px;

  color: #000000;

  text-decoration: none;
}

.search-result__googs-card-price {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.16px;

  color: #000000;
}

.search-result__goods-card-img-wrapper {
  line-height: 0;
}


.search-result__goods-card {
  position: relative;
}

.search-result__goods-card-hover {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 360px;
  height: 380px;

  background-color: rgba(255, 255, 255, 0.7);
}
.search-result__googs-card-button-cart {
  display: flex;
  margin-top: 180px;
  margin-bottom: 35px;

  width: 200px;
  height: 40px;

  align-items: center;
  justify-content: center;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;

  position: relative;
  z-index: 2;
}

.search-result__googs-card-button-cart::after {
  content: "";

  width: 200px;
  height: 8px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  position: absolute;
  top: 16px;
  left: 0;

  z-index: -1;
}

.search-result__googs-card-button-cart:hover::after {
  transition: transform 0.25s ease;
  transform: scaleY(5);
}

.search-result__googs-card-button-cart:active {
  width: 200px;
  height: 40px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
}

.search-result__googs-card-button-compare {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 13x;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);

  text-decoration: none;
}

.search-result__goods-card-img-wrapper:hover .search-result__goods-card-hover {
  display: flex;
}



.search-result__page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 75px;
  margin-bottom: 80px;
  width: 760px;
  height: 70px;

  list-style: none;

  background-color: #ebebeb;
}

.search-result__page-navigation-number-wrapper {
  display: flex;
  flex-direction: row;
  width: 90px;
  justify-content: space-between;
  align-items: center;
}

.search-result__page-navigation-item-back {
  margin: 0;
  padding: 0;
  padding-left: 30px;
}

.search-result__page-navigation-item {
  margin: 0;
  padding: 0;
}

.search-result__page-navigation-item-forward {
  margin: 0;
  padding: 0;
  padding-right: 30px;
}

.search-result__page-navigation-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;
}
